* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  color: black;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

@keyframes scroll-down {
  0% {
    transform: translateY(5px);
  }
  30% {
    transform: translateY(10px);
  }
  65% {
    transform: translateY(12px);
  }
}
