* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gotham;
  color: black;
}
html,
body {
  height: 100%;
  width: 100%;
  scroll-snap-type: proximity;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

@keyframes scroll-down {
  0% {
    transform: translateY(5px);
  }
  30% {
    transform: translateY(10px);
  }
  65% {
    transform: translateY(12px);
  }
}
